@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.modal {
  z-index: 99999;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  perspective: 1000px;
}

/* Modal Content */
.modal-content {
  margin: auto;
  border: 1px solid #888;
  scrollbar-color: #302c2c;
  scrollbar-width: 10px;
  scrollbar-track-color: black;
  transform-style: preserve-3d;
  animation: flipIn 0.5s ease;
  -webkit-animation: flipIn 0.5s ease;
}

.flipOut {
  animation: flipOut 0.5s ease;
  -webkit-animation: flipOut 0.5s ease;
}

@keyframes flipIn {
  from {
    transform: rotateY(-20deg);
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
  }
  to {
    transform: rotateX(0);
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}

@keyframes flipOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-20deg);
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
  }
}

.modal-content::-webkit-scrollbar {
  width: 16px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #302c2c;
  border-radius: 100px;
}
